@import url(reset.css);
@import url(fonts.css);

html {
    /* scroll-behavior: smooth; */
}

body {
    font-family: 'Russo One', sans-serif;
}

.container {
    width: 90%;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    /* border-left: 1px solid #000; */
    /* border-right: 1px solid #000; */
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header {
    height: 60px;
    background-color: white;
    box-shadow: 0 0 20px 0 black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header-logo {
    width: 20%;
    /* background-color: pink; */
    /* height: 60px; */
}

.header-menu {
    width: 50%;
    /* background-color: plum; */
    /* height: 60px; */
}

.logo-link {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.menu-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}

.section {
    height: 100vh;
    padding-top: 60px;
}

#home {
    /* background-color: cadetblue; */
    background-image: url(../images/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#about {
    background-color: #fefefe;
}

#works {
    /* background-color: cornflowerblue; */
    background-image: url(../images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#contact {
    background-color: #fefefe;
}

.home-title {
    position: absolute;
    top: 100px;
    right: 20px;
    font-size: 70px;
    color: #fefefe;
    text-align: center;
}


.fa-arrow-alt-circle-down {
    margin-top: 50px;
    color: white;
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
        margin-top: 50px;
    }

    50% {
        margin-top: 35px;
    }

    100% {
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
        margin-top: 50px;
    }
}

.about-photo {
    width: 35%;
    height: 60vh;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.about-info{
    width: 50%;
    font-size: 35px;
    text-align: center;
}

.about-icons{
    margin-top: 50px;
}

.about-icons i{
    font-size: 100px;
    margin: 0 5%;   
}

.works-box{
    width: 25vw;
    height: 15vw;
    border: 2px solid #000;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.contact-info{
    width: 35%;
}

.contact-map{
    width: 50%;
    height: 70vh;
}

.contact-data{
    font-size: 30px;
}
.contact-data p{
    margin: 20px 0;
}
.contact-form{
    width: 100%;
}

.form-group{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.form-group input {
    width: 70%;
    height: 35px;
    border: 2px solid black;
    padding: 10px;
}

.form-group textarea{
    width: 70%;
    height: 200px;
    resize: none;
    border: 2px solid black;
    padding: 10px;
}

.form-group input::placeholder,
.form-group textarea::placeholder{
    font-family: 'Russo One', sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

.form-group input:focus,
.form-group textarea:focus{
    box-shadow: 0 0 10px 0 black;
}

button{
    width: 110px;
    height: 35px;
    font-family: 'Russo One', sans-serif;
    border: 2px solid black;
    background-color: #fefefe;
}